body {
  background: #212121;
  color: #FFFFFF; }
  body #app .header {
    max-width: 960px;
    margin: auto;
    margin-bottom: 10px;
    border-color: #FF3F80; }
    body #app .header h1 {
      font-size: 45px; }
  body #app .control-bar {
    border: 1px solid #3E50B4;
    margin-bottom: 15px; }
  body #app .board {
    font-size: 0px;
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin: auto;
    cursor: default; }
    body #app .board .cell-row {
      height: 24px;
      margin: 0; }
    body #app .board .cell {
      width: 24px;
      height: 24px;
      border: 1px solid rgba(187, 187, 187, 0.38);
      margin: 0;
      display: inline-block; }
    body #app .board .cell.alive {
      background-color: #FF3F80; }
    body #app .board .cell.newborn {
      background-color: #f4749e; }
    body #app .board .cell.dead {
      background-color: #000000; }
  body #app .game-info {
    font-size: 20px; }

@media (min-width: 1200px) {
  body > .container > #app .board .cell-row {
    height: 14px; }
    body > .container > #app .board .cell-row .cell {
      width: 14px;
      height: 14px; } }
