body {
  background: #212121;
  color: #FFFFFF; }
  body #app .header {
    max-width: 960px;
    margin: auto;
    margin-bottom: 10px;
    border-color: #FF3F80; }
    body #app .header h1 {
      font-size: 45px; }
  body #app .control-bar {
    border: 1px solid #3E50B4;
    margin-bottom: 15px; }
  body #app .board {
    border: 2px solid #FFFFFF;
    width: 268px;
    height: 268px;
    margin: auto; }
    body #app .board .cell-row {
      width: 264px;
      height: 24px;
      margin: 0; }
    body #app .board .cell {
      width: 24px;
      height: 24px;
      border: 1px solid rgba(187, 187, 187, 0.54);
      margin: 0;
      display: inline-block; }
    body #app .board .cell.alive {
      background-color: #FF3F80; }
    body #app .board .cell.newborn {
      background-color: #f4749e; }
    body #app .board .cell.dead {
      background-color: #000000; }
