$background-black: #212121
$blue: #3E50B4
$pink: #FF3F80
$pink-light: #f4749e
$white: #FFFFFF
$gray-transparent: rgba(#bbbbbb, 0.38)
$black: #000000
body
  background: $background-black
  color: $white

  #app

    .header
      max-width: 960px
      margin: auto
      margin-bottom: 10px
      border-color: $pink
      h1
        font-size: 45px

    .control-bar
      border: 1px solid $blue
      margin-bottom: 15px

    .board
      font-size: 0px
      border: 1px solid $white
      display: inline-block
      margin: auto
      cursor: default

      .cell-row
        height: 24px
        margin: 0

      .cell
        width: 24px
        height: 24px
        border: 1px solid $gray-transparent
        margin: 0
        display: inline-block

      .cell.alive
        background-color: $pink

      .cell.newborn
        background-color: $pink-light

      .cell.dead
        background-color: $black

    .game-info
      font-size: 20px


@media( min-width: 1200px )
  body > .container > #app .board
    .cell-row
      height: 14px
      .cell
        width: 14px
        height: 14px
